<% include partials/header.ejs%>

  <div class="ui main text container segment">
    <div class="ui huge header">Edit blog <i class="blogtitle"><%= blog.title%></i></div>
    <br>
    <form class="ui form" action="/blogs/<%= blog._id%>?_method=PUT" method="POST">

      <div class="field">
        <label>Title</label>
        <input type="text" value="<%= blog.title %>" name="blog[title]" required>
      </div>

      <div class="field">
        <label>Image</label>
        <input type="text" value="<%= blog.image %>" name="blog[image]">
      </div>

      <div class="field">
        <label>Blog Content</label>
        <textarea name="blog[blog]" cols="30" rows="15" required><%= blog.blog %></textarea>
      </div>

      <button class="ui green basic fluid button">Save</button>
    </form>

</div>

<% include partials/footer.ejs%>