<% include partials/header.ejs%>

<div class="ui main text container">
  <h1>We do NOT call it soccer, it is FOOTBALL</h1>
  <% blogs.forEach(blog => { %>
    <div>
      <h2><%= blog.title%></h2>
      <img class="ui small image" src="<%= blog.image%>">
      <div>
        <i><%= blog.created.toString()%></i>
        <br>
        <p><%= blog.blog.substring(0, 50) %> ...</p>
        <a href="/blogs/<%= blog._id %>">Read More</a>
      </div>
      <hr>
      <br>
    </div>
  <% }) %>
</div>

<% include partials/footer.ejs%>
