<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <img class="img-thumbnail" src="<%= campground.image %>">
      <br><br>
      <div class="caption-full  container-camp">
        <% if (campground.price) { %>
          <h5 class="float-right underline">$<%= campground.price %>/night</h5>
        <% } else { %>
          <h5 class="float-right underline">No Price Quote Yet</h5>
        <% } %>
        <h4><%=  campground.name %></h4>
        <div class="row">
          <div class="col-md-12">
            <p>Posted by
              <% if (user && campground.author.username === user.username) { %>
                <strong><i>you</i></strong>
              <% } else { %>
                <strong><i><%= campground.author.username %></i></strong>
              <% } %>
              <% if (!campground.updated) { %>
                <span class="float-right" title="<%= moment(campground.created).format() %>">
                  Created On 
                  <%= moment(campground.created).format('dddd, MMM DD YYYY') %></span>
              <% } else { %>
                <span class="float-right" title="<%= moment(campground.updated).format() %>">
                  Updated On 
                  <%= moment(campground.updated).format('dddd, MMM DD YYYY') %></span>
              <% } %>
              
            </p>
          </div>
        </div>
      </div>
      <p><%=  campground.description %></p>
      <% if (user && campground.author.username === user.username) { %>
        <div class="modify row">
            <a class="btn btn-outline-warning btn-sm" href="/campground/<%= campground._id%>/edit">Edit Campground</a>
            <form action="/campground/<%= campground._id %>?_method=DELETE" method="POST">
              <button class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure?')">Delete Campground</button>
            </form>
          </div>
      <% } %>

      <div class="well">
        <h5>Comments</h5>
        <%  campground.comments.forEach(function(comment, index) { %>
          <div class="row">
            <div class="col-md-12">
              By 
              <% if (user && comment.author.username === user.username) { %>
                <strong><i>you</i></strong>
              <% } else { %>
                <strong><i><%= comment.author.username %></i></strong>
              <% } %>
              <% if (!comment.updated) { %>
                <span class="float-right" title="<%= moment(comment.created).format() %>">
                  Created 
                  <%= moment(moment(comment.created).format('YYYYMMDDkkmmss'), 'YYYYMMDDkkmmss').fromNow() %></span>
              <% } else { %>
                <span class="float-right" title="<%= moment(comment.updated).format() %>">
                  Updated 
                  <%= moment(moment(comment.updated).format('YYYYMMDDkkmmss'), 'YYYYMMDDkkmmss').fromNow() %></span>
              <% } %>

              <br>
              <p>
                <%= comment.text %>
              </p>
            </div>
          </div>
          <% if (user && comment.author.username === user.username) { %>
            <div class="modify row">
              <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#<%= comment._id %>">Edit Comment</button>
              <form action="/campground/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete Comment</button>
              </form>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="<%= comment._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('<%= index %>').reset()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="<%= index %>" action="/campground/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                      <div class="form-group">
                          <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="document.getElementById('<%= index %>').reset()">Close</button>
                    <button type="button" class="btn btn-primary" onclick="document.getElementById('<%= index %>').submit()">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        <% }) %>
        <form action="/campground/<%= campground.id%>" method="POST">
          <div class="form-group">
          <input class="form-control" type="text" name="comment[text]" placeholder="new comment goes here...">
          </div>
          <div class="form-group">
          <button class="btn btn-info">Submit Comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>